<!-- CONTACT FORM -->
<div class="container-fluid form">
    <div class="container">
        <h2>Kontaktieren Sie uns</h2>
        <p>Glück & Kanja zählt zu den deutschlandweit erfolgreichsten Cloud-Partnern von Microsoft und unterstützt viele namhafte
            Kunden, Office 365 und Azure erfolgreich einzuführen. Durch die ständige Weiterqualifikation unserer Mitarbeiter
            bis hin zum Microsoft Certified Solution Master und die enge Zusammenarbeit mit Microsoft stellen wir ein Höchstmaß
            an Kompetenz in Deutschland sicher.</p>
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <form id="glueckkanja-contactform" method="post" action="javascript:contactform()">
                    <fieldset>
                        <div class="row margin-bottom-20">
                            <div class="col-md-6 col-md-offset-0 col-xs-12">
                                <div>
                                    <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6 col-md-offset-0 col-xs-12 clearfix hidden-xs hidden-sm">
                                <div>
                                    <input type="text" name="email" id="email" class="form-control" placeholder="E-Mail *">
                                </div>
                            </div>
                        </div>
                        <div class="row margin-bottom-20 clearfix visible-xs visible-sm">
                            <div class="col-xs-12 clearfix visible-xs visible-sm">
                                <div>
                                    <input type="text" name="email" id="email" class="form-control" placeholder="E-Mail *">
                                </div>
                            </div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-md-12 col-md-offset-0">
                                <div>
                                    <textarea rows="8" name="message" id="message" class="form-control" placeholder="Nachricht"></textarea>
                                </div>
                            </div>
                        </div>
                        <p>
                            <button type="submit" class="btn btn-primary" id="contactbtn">Abschicken</button>
                        </p>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-4 col-xs-12">
                <p class="padding-bottom-10">
                    <strong>Möchten Sie weitere Informationen? Kontaktieren Sie uns oder rufen Sie uns an.</strong>
                </p>
                <div class="float">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <h3>Adresse</h3>
                <p>Kaiserstraße 39, 63065 Offenbach</p>
                <div class="float">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <h3>Telefon</h3>
                <p>+49 69 4005520</p>
                <div class="float">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <h3>E-Mail</h3>
                <p>cholab@mail.kyutech.jp</p>
            </div>
        </div>
    </div>
</div>
<!-- CONTACT FORM END -->