<footer class="site-footer">
    <p>&copy; 2015–2025 <a href="https://kyutech-laseine.net/english/">Laboratory of Lean Satellite Enterprises and In-Orbit Experiment (LaSEINE), Kyutech</a>.</p>
  
    <div style="margin-top: 1rem;">
      <strong>Contribute to Docs</strong><br/>
      <a href="https://birdsopensource.github.io/contribute">Learn how to get involved</a><br/>
      <a href="https://github.com/orgs/BIRDSOpenSource/discussions/categories/general">Submit feedback</a>
    </div>
  
    <div style="margin-top: 1rem;">
      <strong>Join the Community</strong><br/>
      <a href="{{site.telegram}}">Chat with us on Telegram</a><br/>
      <a href="{{site.youtube}}">Watch us on YouTube</a><br/>
      <a href="{{site.mailing_list}}">Join our monthly webinars</a>
    </div>
  </footer>
  