<span class="fs-2" align="right"> 
{%- assign date_format = site.data.l10n.date_format | default: "%b %-d, %Y" -%}
{{ site.time | date: date_format }} {{ site.data.l10n.title }}
    <div>
        <p style="margin-bottom: 0.3rem; ">
            Using Just the Docs
        </p>
        <p style="margin: 0.4rem 0">
            <a
                href="https://birdsopensource.github.io/contribute"
                target="_blank"
                style="color: #e6e1e7; text-decoration: none"
            >
            Built with ❤️ by Kyutech LaSEINE 
            </a>
        </p>
    </div>
</span>

