
  <!-- Navigation Start -->
<nav class="navbar navbar-custom navbar-fixed-top{% if page.bluenavbar == true %} bluenavbar{% endif %}" role="navigation">
  <div class="container">
    <div class="navbar-header">
      {% if page.section-type == "index" %}
        <a class="navbar-brand page-scroll" href="#page-top">
      {% else %}
        <a class="navbar-brand" href="{{site.baseurl}}/">
      {% endif %}
      <div class="navbar-logo">
        <h1>
          <a href="{{ '/' | relative_url }}" class="logo">
            <img src="{{ '/assets/favicons/favicon-light-nobg.png' | relative_url }}" width="200" height="105" alt="BIRDS Logo">
          </a>
        </h1>
        </a>
    </div>
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li class="firstlevel">
          <a href="{{site.baseurl}}/" class="firstlevelanchor">
            Home
          </a>
        </li>
        <li class="firstlevel dropdown dropdown-large{% if currentRequest[0] == 'docs' %} active {% endif %}">
          <a href="{{site.baseurl}}/docs" class="firstlevelanchor">
            Docs
          </a>
        </li>
        <li class="firstlevel dropdown dropdown-large{% if currentRequest[0] == 'about' %} active {% endif %}">
          <a href="{{site.baseurl}}/about" class="firstlevelanchor">
            About
          </a>
        </li>
        <li class="firstlevel dropdown dropdown-large{% if currentRequest[0] == 'resources' %} active {% endif %}">
          <a href="{{site.baseurl}}/resources" class="firstlevelanchor">
            Resources
          </a>
        </li>
        <li class="firstlevel dropdown dropdown-large{% if currentRequest[0] == 'showcase' %} active {% endif %}">
          <a href="{{site.baseurl}}/showcase/" class="firstlevelanchor">
            Showcase
          </a>
        </li>
        <li class="firstlevel dropdown dropdown-large{% if currentRequest[0] == 'webinars' %} active {% endif %}">
          <a href="{{site.baseurl}}/webinars" class="firstlevelanchor">
            Webinars
          </a>
        </li>
        <li class="firstlevel dropdown dropdown-large{% if currentRequest[0] == 'github' %} active {% endif %}">
          <a href="https://github.com/BIRDSOpenSource/BIRDSOpenSource.github.io" class="firstlevelanchor" style="margin-top: 4px;">
            <button type="button" class="btn btn-primary"><strong>Github</strong></button>
          </a>
        </li>
       </ul>
    </div>
  </div>
</nav>

<!-- Navigation End -->

