<!-- Scripts Start -->
 
<!-- Google Fonts -->
<!--link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"-->
<!--link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700" rel="stylesheet"-->
<script type="text/javascript" charset="UTF-8" src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
<script>
    WebFont.load({
        google: {
            families: ['Open Sans:300,700', 'Open Sans Condensed:300,700', 'Material Icons']
        }
    });
</script>
<!-- jQuery -->
<script type="text/javascript" charset="UTF-8" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script-->
<script type="text/javascript" charset="UTF-8" src="{{site.baseurl}}/assets/javascripts/bootstrap.min.js"></script>

<!-- Custom JavaScript -->
<!-- <script type="text/javascript" charset="UTF-8" src="{{site.baseurl}}/assets/js/mandrill.min.js"></script>
<script type="text/javascript" charset="UTF-8" src="{{site.baseurl}}/assets/js/rangeslider.js"></script>
<script type="text/javascript" charset="UTF-8" src="{{site.baseurl}}/assets/js/guk.js"></script>
<script src="/assets/js/main.js"></script> -->


<!-- Google Analytics -->
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', '{{ site.analytics.tracking_id }}', 'auto');
    ga('send', 'pageview');
</script>

<!-- Google Code for Conversion Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = {{ site.analytics.conversion_id }};
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "NTNjCOCHmXEQjNfo-QM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/1060776844/?label=NTNjCOCHmXEQjNfo-QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- SEO Details -->
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "{{site.author}}",
        "headline": "{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}",
        "description": "{% if page.excerpt %}{{page.excerpt | strip_html }}{% else %}{{site.excerpt | strip_html }}{% endif %}",
        "publisher": {
            "@type": "Organization",
            "logo": {
                "@type": "ImageObject",
                "url": "{{site.logo}}"
            }
        },
        "url": "{{site.url}}"
    }
</script>
<!-- Scripts END -->