<!-- Linklist Start -->
<section id="sitelinks">
    <div class="container">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h5 class="exlink-heading">About Glück & Kanja</h5>
        <p class="small">We are one of the leading German IT companies for Communications & Cloud and Microsoft Gold Partner for Cloud
          Productivity, UC and Access & Identity.</p>
        <h5 class="exlink-heading">More Information?</h5>
        <p class="small">Get the news directly to your inbox.</p>
        <form class="footer-subscribe" id="realmjoin-subscribeform" method="post" action="javascript:subscribeform()">
          <div class="input-group">
            <input type="text" class="form-control input-sm" placeholder="E-Mail Address" name="email" id="email">
            <span class="input-group-btn"><button class="btn btn-primary btn-sm" type="submit" id="subscribebtn">Subscribe</button></span>
          </div>
        </form>
        <p class="small"><br>Made in Germany</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-md-offset-1 recentposts">
        <h5 class="exlink-heading">RealmJoim Link List</h5>
        <ul>
          <li><a href="/"><span>Features</span><br>See RealmJoin in Action.</a></li>
          <!--li><a href="/pricing"><span>Pricing</span><br>Simple Pricing. No Plans.</a></li-->
          <!--li><a href="/trial"><span>Trial</span><br>Download your 14-days Trial.</a></li-->
          <li><a href="{{site.zendesk.link}}"><span>Help Center</span><br>Technical FAQ and Support.</a></li>
          <li><a href="https://github.com/realmjoin"><span>GitHub</span><br>Find us on GitHub</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-md-offset-1">
        <h5 class="exlink-heading">Headquarter</h5>
        <p class="small">Glück & Kanja Consulting AG<br>Kaiserstraße 39<br>D-63065 Offenbach<br>T +49 69 4005520<br>info@glueckkanja.com
        </p>
        <h5 class="exlink-heading">Stay Connected</h5>
        <ul>
          <li>
            <a href="https://twitter.com/realmjoin" target="_blank" data-original-title="Twitter">
              <i class="fa fa-twitter-square fa-2x float" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="https://www.youtube.com/user/glueckkanja" data-original-title="YouTube">
              <i class="fa fa-youtube-square fa-2x float" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/glueck-&-kanja-consulting-ag" target="_blank" data-original-title="LinkedIn">
              <i class="fa fa-linkedin-square fa-2x float" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="https://www.xing.com/companies/gl%C3%BCck%26kanjaconsultingag" target="_blank" data-original-title="Xing">
              <i class="fa fa-xing-square fa-2x float" aria-hidden="true"></i></a>
          </li>
        </ul>
  <span>
          <a href="https://www.kununu.com/de/glueck-kanja-consulting" target="_blank" data-original-title="kununu">
          </span>
      </div>
    </div>
  </section>
  <!-- Linklist End -->