<!DOCTYPE html>
<html lang="{{site.active_lang}}" class="no-js">

  {% include top.html %}

    {% assign currentRequest = page.url | remove_first: '/' | downcase | split: '/' %}

    <body>
  
    {% include navigation.html currentRequest=currentRequest %}
  
    <input type='checkbox' style='display: none' id="cb">
    <label for="cb" id="button"></label>

    <div id="container">
      <div id="menu"></div>     
      <div id="angle"></div>
      <div id="content">
        <section id="start">
            {{ content }}
        </section>
      </div>
    </div>
    </body>

    {% include footer.html %}
</html>

<!-- Page Info: DEFAULT Layout -->