<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">

<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <title>
        {% if page.title %}
            {{ page.title }} | 
        {% endif %}
        BIRDS Bus Open Source
    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet"
          href="{{ '/assets/css/custom.scss' | relative_url }}">
</head>

<body>

    {% include header.html %}

    <main class="site-content">
        {{ content }}
    </main>

    {% include footer.html %}

</body>
</html>