<!DOCTYPE html>
<html lang="{{site.active_lang}}" class="no-js">

  {% include top.html %}

    {% assign currentRequest = page.url | remove_first: '/' | downcase | split: '/' %}

    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="151">
  
    {% include navigation.html currentRequest=currentRequest %}

		<section id="start">
			  {{ content }}
    </section>

    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
<!-- Page Info: DEFAULT Layout -->