<!DOCTYPE html>
<html lang="{{site.active_lang}}" class="no-js">

  {% include head.html %}
  {% assign currentRequest = page.url | remove_first: '/' | downcase | split: '/' %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"  data-offset="151">

    {% assign transparent = true %}
    {% include navigation.html currentRequest=currentRequest transparent=transparent %}
    {% include blogtitlepic.html %}

		<section class="main" id="start">
			  {{ content }}
    </section>

    {% if page.nositelinks == nil %}
  		{% include sitelinks.html %}
    {% endif %}
    {% include footer.html %}
    {% include scripts.html %}

  </body>
</html>
<!-- Page Info: DEFAULT Layout -->