<!DOCTYPE html>
<html lang="{{site.active_lang}}" class="no-js">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"  data-offset="151">

	{% include navigation.html currentRequest=currentRequest %}
	<div style="margin-top: 104px;padding: 0px;"></div>

		{% if page.noheader == nil %}
		<header>
			<div class="hc-wrapper">
				<section class="hero_search">
					<h1>{{ site.help-center.title }}</h1>
					<p>{{ site.help-center.subtitle }}</p>
					<form action="{{ site.baseurl }}/help-center/search/" method="get">
						<input type="search" name="q" placeholder="What would you like to know?" autofocus>
						<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
							<path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
							<path d="M0 0h24v24H0z" fill="none"/>
						</svg>
						<input type="submit" value="Search" style="display: none;">
					</form>
				</section>
			</div>

		</header>
		{% endif %}
		
		<section class="content">
			<div class="hc-wrapper">
				{{ content }}
			</div>
		</section>
		{% if page.nositelinks == nil %}
			{% include sitelinks.html %}
		{% endif %}

		{% include footer.html %}
		{% include scripts.html %}		
		<script>
			$(function() {
				$('a[href*=\\#]').not(".no-smooth").on('click', function(event){
					var el = $(this.hash);
					if (el.length > 0) {
						// event.preventDefault();
						$('html,body').animate({scrollTop:$(this.hash).offset().top - 50}, 500);
					}
				});

				$('svg').click(function() {
					$(this).parent('form').submit();
				});
			});

		</script>
		<script src="{{ site.baseurl }}/assets/js/hc.js"></script>

		<script>
			var headings = document.querySelectorAll("h2[id]");

			console.log(headings);
			for (var i = 0; i < headings.length; i++) {
				var anchorLink = document.createElement("a");
				anchorLink.innerText = "#";
				anchorLink.href = "#" + headings[i].id;
				anchorLink.classList.add("header-link");

				headings[i].appendChild(anchorLink);
			}

			$(".modalOpen").click(function() {
				var id = $(this).attr("href");
				$(id).addClass("show");

				$(window).click(function() {
					$(".show").removeClass("show");
				});

				$(id + " > div").click(function(event){
					event.stopPropagation();
				});
				return false;
			});

			$(".close").click(function() {
				$(".show").removeClass("show");
				return false;
			});

			$(document).keyup(function(e) {
				if (e.keyCode == 27) {
					$(".show").removeClass("show");
				}
			});
		</script>		
	</body>
</html>