<!DOCTYPE html>
<html lang="" class="no-js">
  {% include top.html %}

  {% assign currentRequest = page.url | remove_first: '/' | downcase | split: '/' %}


<body>

  {% include navigation.html currentRequest=currentRequest %}


  <main>
    <section id="start">
      <article>
        <h1 id="welcome-to-birds-bus-open-source">Welcome to BIRDS Bus Open Source</h1>

        <p>Kyushu Institute of Technology is promoting BIRDS Bus Open Source activities.</p>

        <p>The aim is to share know-how and technical information regarding CubeSat development – with a focus on the
          BIRDS Bus. This satellite bus was developed at Kyutech as a spin-off of the BIRDS Program (2015-2022).</p>

      </article>
      <figure></figure>

    </section>
    <section class="mission">
      <figure></figure>
      <article>
        <h2 id="mission">Mission</h2>

        <p>The main goal is to provide a more solid basis for space programs in non-space faring countries by making
          satellite development easier, quicker, and less expensive. Starting from scratch is too much work.</p>

      </article>

    </section>
    <section class="webinars">

      <h3 id="join-our-webinars">Join our webinars</h3>

      <p>We have a monthly Webinar to discuss various issues related to the satellite bus. To obtain the information
        (Zoom connections etc.,) about the Webinars, <a href="./mailing-list.html">please click here</a>.. You can
        find the transcripts and recordings of past webinars on this page.</p>

        <a href="https://coming_soon" target="_blank">

          <button>
            <p><strong>Announcement of Next Webinar</strong></p>
    
            <p>Next Webinar is KASHIWA by Chiba Institute of Technology team on 22:00 June 12, 2024</p>
          </button>
        </a>
    </section>


  </main>



  <footer>
    <p>BIRDS <a href='/'>Bus Open Source Powered</a> by: <a href="https://birds-project.com/">BIRDS Project</a>
    </p>
    <p>&copy; 2024 Birds Open Source Project. All rights reserved.</p>
    <p>
      This project is licensed under the <a href="/LICENSE">MIT License</a>.
    </p>
  </footer>
  <!-- Scripts Start -->

  <!-- Google Fonts -->
  <script type="text/javascript" charset="UTF-8"
    src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Open Sans:300,700', 'Open Sans Condensed:300,700', 'Material Icons']
      }
    });
  </script>
  <!-- Google Analytics -->
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', '', 'auto');
    ga('send', 'pageview');
  </script>

  <!-- SEO Details -->
  <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "",
        "headline": "BIRDS Project",
        "description": "",
        "publisher": {
            "@type": "Organization",
            "logo": {
                "@type": "ImageObject",
                "url": "./assets/images/logo_2018_07.png"
            }
        },
        "url": "http://localhost:4000"
    }
</script>
  <!-- Scripts END -->
</body>

</html>
